<template>
  <v-row :id="scope" style="margin: 5px;">
    <v-col>
      <v-expansion-panels v-model="mainExpanded" multiple>
        <v-expansion-panel>
          <v-expansion-panel-header :color="failedItems.length > 0 ? 'red lighten-3' : 'green lighten-3'" class="text-left p-header">
            @{{scope}}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-expansion-panels v-model="expanded" multiple style="margin-top: 5px;">
              <v-expansion-panel v-for="(item, i) in data" :key="i">
                <v-expansion-panel-header class="text-left" :color="isFailedItem(item) ? 'red lighten-3' : 'green lighten-3'">
                  {{item.match.location}}
                </v-expansion-panel-header>
                <v-expansion-panel-content :color="isFailedItem(item) ? 'red lighten-5' : 'green lighten-4'">
                  <v-row>
                    <v-col>
                      {{item.result.status.toUpperCase()}}
                    </v-col>
                    <v-col class="text-right">
                      <span class="duration">{{Math.round((item.result.duration / 1000000) / 1000)}} seconds</span>
                    </v-col>
                  </v-row>
                  <v-row v-if="hasScreenshot(item)">
                    <v-col>
                      <img :src="'data:image/png;base64, ' + item.embeddings[0].data" alt="screenshot" width="100%" />
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-col>
  </v-row>
</template>

<script>
import { computed, defineComponent, ref } from '@vue/composition-api'

export default defineComponent({
  props: ['data', 'scope'],
  setup(props) {
    const expanded = ref([])
    const mainExpanded = ref([])
    const isFailedItem = (item) => item.result.status !== 'passed'
    const failedItems = computed(() => props.data?.filter(i => i.result.status !== 'passed'))
    const hasScreenshot = (item) => {
      return item.embeddings 
        && item.embeddings.length > 0 
        && item.embeddings[0].data 
        && item.embeddings[0].mime_type === 'image/png'
    }
    return {
      expanded,
      mainExpanded,
      isFailedItem,
      failedItems,
      hasScreenshot
    }
  }
})
</script>
<style lang="scss">
.p-header {
  font-weight: 600;
}
.duration {
  font-size: 0.7rem;
  color: grey;
}
</style>
