<template>
  <div id="ci-info">
    <v-row>
      <v-col>
        <h3><a :href="meta.ci_job_url" target="_blank">Open in {{meta.ci_system.toUpperCase()}}</a></h3>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  props: ['meta']
})
</script>
