<template>
  <v-row id="cucumber-json-report">
    <v-col>
      <v-row>
        <v-col>
          <h3>
            {{report.meta.type}}
          </h3>
          <span class="create-date">{{formatDate(report.created_date)}}</span>
        </v-col>
        <v-col cols="8" class="text-right">
          <v-chip class="ma-1" v-for="(tag, i) in report.meta.tags" :key="i">{{tag}}</v-chip>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <h1>
            <v-icon 
              large
              :color="reportPassed ? 'green' : 'red'">{{reportPassed ? 'mdi-checkbox-marked-circle' : 'mdi-alert-circle'}}
            </v-icon>
            {{report.meta.title}}
          </h1>
        </v-col>
        <v-col class="text-right">
          <CiInfo :meta="report.meta"/>
        </v-col>
      </v-row>
      <v-row>
        <v-col lg="4" class="text-right">
          <FilterStatuses :statuses="['passed', 'failed']" @update="setStatusFilters" />
          <FilterTags :tags="allTags" @update="setTagFilters" />
        </v-col>
        <v-col>
          <ReportInfo :summary="report.summary" />
        </v-col>
      </v-row>
      <Features :features="state.features" :statusFilters="statusFilters" :tagFilters="tagFilters" />
    </v-col>
  </v-row>
</template>

<script>
import { computed, defineComponent, onMounted, reactive, ref } from '@vue/composition-api'
import Features from './Features'
import FilterTags from '../../common/FilterTags'
import FilterStatuses from '../../common/FilterStatuses'
import ReportInfo from './ReportInfo'
import CiInfo from './CiInfo.vue'
import formatDate from '../../../../lib/formatDate'

export default defineComponent({
  props: ['report'],
  components: {
    Features,
    FilterTags,
    FilterStatuses,
    ReportInfo,
    CiInfo
  },
  setup(props) {
    const state = reactive({
      features: []
    })
    const tagFilters = ref([])
    const statusFilters = ref([])
    
    const setStatusFilters = (statuses) => {
      statusFilters.value = statuses
      filterFeatures()
    }
    const setTagFilters = (tags) => {
      tagFilters.value = tags
      filterFeatures()
    }

    const getFeatureStatus = (feature) => {
      const scenarios = feature.elements
      for (let scenario of scenarios) {
        const steps = scenario.steps
        for (let step of steps) {
          if (step.result.status !== 'passed') {
            return 'failed'
          }
        }
      }
      return 'passed'
    }

    const filterFeatures = () => {     
      const hasStatus = (feature, statuses) => {
        if (statuses.length === 0) return true // no status filter any is ok
        return statuses.indexOf(getFeatureStatus(feature)) !== -1
      }

      const getFeatureTags = (feature) => {
        const tags = []
        feature.tags.forEach(tag => {
          if (tags.indexOf(tag) === -1) tags.push(tag.name)
        })
        feature.elements.forEach(scenario => {
          scenario.tags?.forEach(tag => {
            if (tags.indexOf(tag) === -1) tags.push(tag.name)
          })
        })
        return tags
      }

      const hasTags = (feature, tags) => {
        if (tags.length === 0) return true
        const featureTags = getFeatureTags(feature)
        for (let tag of tags) {
          if (featureTags.indexOf(tag) === -1) return false
        }
        return true
      }
      
      const features = props.report.data
      
      // musi miec status i tagi ^
      state.features = features
        .filter((feature) => hasStatus(feature, statusFilters.value) && hasTags(feature, tagFilters.value))
        .sort((a, b) => { // sort po sekcji - sort po subsekcji nie robimy, raczej itak beda pogrupowane po plikach, ew mozna filtrowac tagami
          const aSectionTag = a.tags.find(t => t.name.indexOf('@section') != -1)
          const bSectionTag = b.tags.find(t => t.name.indexOf('@section') != -1)
          if (!aSectionTag || !bSectionTag) {
            console.warn('cannot sort - @section-... tag not found', a, b)  // jesli brakuje taga to bez zmian i warning na console
            return 0
          }
          return aSectionTag.name.localeCompare(bSectionTag.name)
        })
    }

    const allTags = computed(() => {
      const tags = []
      props.report.data.forEach(feature => {
        feature.tags.forEach(tag => {
          if (tags.indexOf(tag) === -1) tags.push(tag.name)
        })
        feature.elements.forEach(scenario => {
          scenario.tags?.forEach(tag => {
            if (tags.indexOf(tag) === -1) tags.push(tag.name)
          })
        })
      })
      return tags
    })

    const reportPassed = computed(() => props.report?.summary.failed_steps === 0)

    onMounted(() => {
      filterFeatures()
    })

    return {
      reportPassed,
      allTags,
      setStatusFilters,
      setTagFilters,
      state,
      tagFilters,
      statusFilters,
      formatDate
    }
  }
})
</script>

<style lang="scss" scoped>
  .create-date {
    color: rgb(163, 158, 158);
  }
</style>
