<template>
  <v-row id="feature-list">
    <v-col>
      <v-expansion-panels v-model="state.expandedPanels" multiple popout>
        <v-expansion-panel v-for="(feature, i) in features" :key="i">
          <v-expansion-panel-header :color="featureFailed(feature) ? 'red lighten-3' : 'green lighten-3'">
            <div>
              <span class="feature-keyword">{{feature.keyword}}</span>
              <span>: {{feature.name}}</span>
            </div>
          </v-expansion-panel-header>
          <v-expansion-panel-content :color="featureFailed(feature) ? 'red lighten-5' : 'green lighten-5'">
            <FeatureTags :tags="feature.tags" :tagFilters="tagFilters" />
            <FeatureScenarios :scenarios="feature.elements" :statusFilters="statusFilters" :tagFilters="tagFilters" />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-col>
  </v-row>
</template>

<script>
import { defineComponent, onMounted, reactive } from '@vue/composition-api'
import FeatureTags from './FeatureTags'
import FeatureScenarios from './FeatureScenarios'

export default defineComponent({
  props: ['features', 'statusFilters', 'tagFilters'],
  components: {
    FeatureTags,
    FeatureScenarios
  },
  setup(props) {
    const state = reactive({
      expandedPanels: []
    })
    
    const _featureFailed = (feature) => {
      let failed = false;
      feature.elements.forEach(scenario => {
        scenario.steps.forEach(step => {
          if (step.result.status === 'failed') {
            failed = true
            return
          }
        })
      })
      return failed
    }

    const featureFailed = (feature) => {
      return _featureFailed(feature)
    }

    onMounted(() => {
      props.features.forEach((feature, i) => {
        if (featureFailed(feature)) state.expandedPanels.push(i)
      })
    })

    return {
      state,
      featureFailed
    }
  }
})
</script>

<style lang="scss" scoped>
  .feature-keyword {
    font-weight: 600;
  }
</style>
