<template>
  <div id="feature-tags">
    <v-chip
      :color="tag.isActive ? 'secondary' : 'light'"
      v-for="(tag, i) in state.tags" :key="i"
      class="ma-1"
      small
    >
      {{tag.name}}
    </v-chip>
  </div>
</template>

<script>
import { defineComponent, onMounted, reactive, watch } from '@vue/composition-api'

export default defineComponent({
    props: ['tags', 'tagFilters'],
    setup(props) {
      
      const state = reactive({
        tags: []
      })
      const isActive = (tag) => {
        console.log(tag.name, 'is active?', props.tagFilters.indexOf(tag) !== -1)
        return props.tagFilters.indexOf(tag.name) !== -1
      }

      const updateTags = () => {
        state.tags = props.tags.map((tag) => {
          tag.isActive = isActive(tag)
          return tag
        })

        console.log('update tags tags:', state.tags)
      }

      watch(() => [...props.tagFilters], () => {
        console.log('watcher tags update tags')
        updateTags()
      })

      onMounted(() => {
        updateTags()
      })

      return {
        isActive,
        state
      }
    }
})
</script>
