<template>
  <div id="feature-scenarios">
    <v-expansion-panels v-model="state.expandedPanels" multiple>
      <v-expansion-panel v-for="(scenario, i) in state.filteredScenarios" :key="i">
        <v-expansion-panel-header :color="scenarioFailed(scenario) ? 'red lighten-3' : 'green lighten-3'">
          <div>
            <span class="scenario-keyword">{{scenario.keyword}}</span>
            <span>: {{scenario.name}}</span>
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content :color="scenarioFailed(scenario) ? 'red lighten-5' : 'green lighten-5'">
          <FeatureTags v-if="scenario.tags" :tags="scenario.tags" :tagFilters="tagFilters" />
          <BeforeAfter scope="before" :data="scenario.before" />
          <ScenarioSteps :steps="scenario.steps" />
          <BeforeAfter scope="after" :data="scenario.after" />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
import { defineComponent, onMounted, reactive, watch } from '@vue/composition-api'
import FeatureTags from './FeatureTags'
import ScenarioSteps from './ScenarioSteps'
import BeforeAfter from './BeforeAfter'

export default defineComponent({
  props: ['scenarios', 'statusFilters', 'tagFilters'],
  components: {
    FeatureTags,
    ScenarioSteps,
    BeforeAfter
  },
  setup(props) {
    const state = reactive({
      expandedPanels: [],
      filteredScenarios: []
    })
    const _scenarioFailed = (scenario) => {
      let failed = false;
      scenario.steps.forEach(step => {
        if (step.result.status === 'failed') {
          failed = true
          return
        }
      })
      return failed
    }

    const scenarioFailed = (scenario) => {
      return _scenarioFailed(scenario)
    }

    const filterScenarios = () => {
      const getScenarioStatus = (scenario) => {
        for(let step of scenario.steps) {
          if (step.result.status !== 'passed') return 'failed'
        }
        return 'passed'
      }

      const hasStatus = (scenario, statuses) => {
        if (statuses.length === 0) return true
        return statuses.indexOf(getScenarioStatus(scenario)) !== -1
      }

      const hasTags = (scenario, tags) => {
        if (tags.length === 0) return true
        for (const tag of tags) {
          const scenarioTags = scenario.tags ?? []
          if (scenarioTags.map(t => t.name).indexOf(tag) === -1) return false
        }
        return true
      }
      // merge background into scenario
      let allScenarios = JSON.parse(JSON.stringify(props.scenarios)) // copy arr (avoid repeated mutation)
      let scenarios = []
      const needsMerge = (s1, s2) => {
        return s1.type === 'background' && s2.type === 'scenario'
      }

      if (allScenarios.length >= 2 && needsMerge(allScenarios[0], allScenarios[1])) {
        for (let i = 1; i < allScenarios.length; i+=2) {
          const background = allScenarios[i -1]
          const scenario = allScenarios[i]

          for (let i = background.steps.length -1; i >= 0; i--) {
            scenario.steps.unshift(background.steps[i])
          }
          scenarios.push(scenario)
        }
      }
      else scenarios = allScenarios
      state.filteredScenarios = scenarios.filter(scenario => hasStatus(scenario, props.statusFilters) && hasTags(scenario, props.tagFilters))
    }
    
    watch(() => [...props.tagFilters], (newFilters, oldFilters) => {
      console.log('tag filters changed', oldFilters, newFilters)
      filterScenarios()
    })

    watch(() => [...props.statusFilters], (newStatuses, oldStatuses) => {
      console.log('status filters changed', oldStatuses, newStatuses)
      filterScenarios()
    })

    onMounted(() => {
      console.log('FeatureScenarios mounted.')
      props.scenarios?.forEach((scenario, i) => {
        if (scenarioFailed(scenario)) state.expandedPanels.push(i)
      })
      filterScenarios()
    })

    return {
      state,
      scenarioFailed,
    }
  }
})
</script>

<style lang="scss" scoped>
  .scenario-keyword {
    font-weight: 600;
  }
</style>
