<template>
  <v-row id="report-info">
    <v-col>
      <Summary :summary="summary" />
    </v-col>
  </v-row>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import Summary from './Summary'

export default defineComponent({
  props: ['summary'],
  components: {
    Summary
  }
})
</script>
