<template>
  <div id="scenario-steps">
    <v-list dense style="padding: 0">
      <v-list-item
        v-for="(step, i) in steps" :key="i"
        :class="step.result.status === 'passed' ? 'green lighten-3' : step.result.status === 'failed' ? 'red lighten-3' : 'blue lighten-3'"
      >
        <v-list-item-content>
          <v-list-item-title>
            <v-row>
              <v-col>
                <b>{{step.keyword}}</b> {{step.name}}<br>
              </v-col>
              <v-col class="text-right">
                <span class="duration">{{Math.round((step.result.duration / 1000000) / 1000)}} seconds</span>
              </v-col>
            </v-row>
            <v-row v-if="step.result.error_message">
              <v-col>
                <pre><code v-html="formatError(step.result.error_message)" /></pre>
              </v-col>
            </v-row>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  props: ['steps'],
  setup () {
    const formatError = (errorMessage) => errorMessage.replaceAll("\n", "<br>")
    return {
      formatError
    }
  }
})
</script>
<style scoped lang="scss">
pre code {
  background-color: #eee !important;
  border: 1px solid rgb(77, 74, 74);
  display: block;
  padding: 20px;
}
.duration {
  font-size: 0.7rem;
  color: grey;
}
</style>