<template>
  <v-row id="summary">
    <v-col>
      <v-row v-show="kind === 'pie'">
        <v-col>
          <v-row>
            <v-col class="text-center">
            Total features: {{summary.total_features}}
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <apexchart width="400" :options="chartOptionsFeatures" :series="seriesFeatures" />
            </v-col>
          </v-row>
        </v-col>
        <v-col>
          <v-row>
            <v-col class="text-center">
              Total scenarios: {{summary.total_scenarios}}
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <apexchart width="400" :options="chartOptionsScenarios" :series="seriesScenarios" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { computed, defineComponent, ref } from '@vue/composition-api'
import { themes } from '../../../../plugins/vuetify'

export default defineComponent({
  props: ['summary'],
  setup (props) {
    const kind = ref('pie')
    
    const passedScenarios = computed(() => props.summary?.passed_scenarios)
    const failedScenarios = computed(() => props.summary?.failed_scenarios)
    const seriesScenarios = ref([passedScenarios.value, failedScenarios.value])
    const chartOptionsScenarios = ref({
      chart: {
        type: 'pie',
        dropShadow: {
          enabled: true,
          enabledOnSeries: [0, 1],
          top: 0,
          left: 0,
          blur: 3,
          color: '#babfbb',
          opacity: 0.8
        },
        fontFamily: 'Montserrat, sans-serif'
      },
      colors: [themes.light.success, themes.light.error],
      labels: [`Scenarios: passed`, `Scenarios: failed`],
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 200
          },
          legend: {
            position: 'bottom'
          }
        }
      }]
    })

    const passedFeatures = computed(() => props.summary?.passed_features)
    const failedFeatures = computed(() => props.summary?.failed_features)
    const seriesFeatures = ref([passedFeatures.value, failedFeatures.value])
    const chartOptionsFeatures = ref({
      chart: {
        type: 'pie',
        dropShadow: {
          enabled: true,
          enabledOnSeries: [0, 1],
          top: 0,
          left: 0,
          blur: 3,
          color: '#babfbb',
          opacity: 0.8
        },
        fontFamily: 'Montserrat, sans-serif'
      },
      colors: [themes.light.success, themes.light.error],
      labels: [`Features: passed`, `Features: failed`],
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 200
          },
          legend: {
            position: 'bottom'
          }
        }
      }]
    })
          
    return {
      kind,
      seriesScenarios,
      chartOptionsScenarios,
      seriesFeatures,
      chartOptionsFeatures
    }
  }
})
</script>
