<template>
  <div id="project-reports">
    <h3>Reports</h3>
    <v-row v-if="reports && reports.pagination.number_of_pages > 1">
      <v-col>
        <v-pagination
          color="secondary"
          v-model="currentPage"
          :length="reports.pagination.number_of_pages"
          :total-visible="15"
          :disabled="loading"
          @input="setCurrentPage"
        ></v-pagination>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-data-table
          dense
          :loading="loading"
          :headers="table.headers"
          :items="reportItems"
          :items-per-page="20"
          hide-default-footer
          class="elevation-1"
        >
        <template v-slot:item.meta.title="{ item }">
          <router-link :style="`color: ${themes.light.secondary}; font-weight: 600;`" :to="{name: 'Report', params: {slug: slug, id: item.id}}" target="_blank">{{item.meta.title}}</router-link>
        </template>
        <template v-slot:item.action="{ item }">
          <v-btn small text color="error" @click="deleteReport(item)">delete report</v-btn>
        </template>
        <template v-slot:item.created_date="{ item }">
          {{formatDate(item.created_date)}}
        </template>
        <template v-slot:item.meta.ci_job_url="{ item }">
          <a class="ci-link" :style="`font-weight: 600;`" :href="item.meta.ci_job_url" target="_blank">Go to {{item.meta.ci_system}} job</a>
        </template>
        <template v-slot:item.meta.ci_job_status="{ item }">
          <v-icon color="success" v-if="item.meta.ci_job_status === 'PASS'">mdi-check-bold</v-icon>
          <v-icon color="error" v-if="item.meta.ci_job_status === 'FAIL'">mdi-do-not-disturb</v-icon>
        </template>
        <template v-slot:item.meta.tags="{ item }">
          <v-chip
          :color="activeTags.indexOf(tag) !== -1 ? 'secondary' : 'grey'"
          class="ma-1"
            v-for="(tag, i) in item.meta.tags" :key="i"
            small
          >
            {{tag}}
          </v-chip>
        </template>
        </v-data-table>
        <v-dialog
            v-model="deleteDialog"
            width="500"
          >
          <v-card>
            <v-card-title class="text-h5">
              Delete report
            </v-card-title>
            <v-card-text class="text-h7">
              Please confirm deleting report:<br>{{reportForDeletion.title}}
            </v-card-text>
            <v-divider />
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                :loading="deleteReportLoading"
                color="error"
                text
                @click="confirmDeleteReport(reportForDeletion.id)"
              >
                Delete
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { defineComponent, ref, reactive, onMounted, computed } from '@vue/composition-api'
import { themes } from '../../../plugins/vuetify'
import api from '../../../api'
import errorHandler from '../../../errorhandlers/deletemodals'
import formatDate from '../../../lib/formatDate'

export default defineComponent({
  props: ['reports', 'loading', 'slug', 'activeFilters'],
  setup(props, {emit}) {
    const currentPage = ref(1)
    const table = reactive({
      headers: [
        {
          text: 'CI status',
          align: 'start',
          sortable: false,
          value: 'meta.ci_job_status',
        },
        {
          text: 'Created date',
          align: 'start',
          sortable: false,
          value: 'created_date',
        },
        {
          text: 'Title',
          align: 'start',
          sortable: false,
          value: 'meta.title',
        },
        {
          text: 'Tags',
          align: 'start',
          sortable: false,
          value: 'meta.tags',
        },
        {
          text: 'CI job url',
          align: 'start',
          sortable: false,
          value: 'meta.ci_job_url',
        },
        {
          text: 'Action',
          align: 'start',
          sortable: false,
          value: 'action',
        }
      ]
    })
    onMounted(() => {
      currentPage.value = props.reports?.pagination.current_page ?? 1
    })
    const updatePagination = () => {
      emit('update-pagination', { page: currentPage.value, limit: 20 })
    }
    const setCurrentPage = (page) => {
      console.log('change page', page)
        currentPage.value = page
        updatePagination()
    }
    const reportItems = computed(() => props.reports?.items ?? [])
    const activeTags = computed(() => props.activeFilters?.tags ?? [])
    
    const deleteDialog = ref(false)
    const deleteReportLoading = ref(false)
    const reportForDeletion = reactive({
      id: null,
      title: null
    })
    const deleteReport = (report) => {
      reportForDeletion.id = report.id
      reportForDeletion.title = report.meta.title
      deleteDialog.value = true
    }
    const confirmDeleteReport = (id) => {
      console.log('deleting report', id)
      deleteReportLoading.value = true
      
      api.projects.deleteProjectReport(props.slug, id)
        .then(response => {
          console.log('delete report response', response)
          setTimeout(() => {
            reportForDeletion.id = null
            reportForDeletion.title = null
            deleteReportLoading.value = false
            deleteDialog.value = false
            emit('update-pagination', { page: currentPage.value, limit: 20 })  // to nie jest idealne ale whatever ten event triggeruje fetch
          }, 500)
        })
        .catch(error => {
          errorHandler(error, []).then(() => {
            deleteReportLoading.value = false
          })
        })
    }
    return {
      setCurrentPage,
      currentPage,
      table,
      reportItems,
      activeTags,
      themes,
      deleteDialog,
      deleteReport,
      reportForDeletion,
      confirmDeleteReport,
      deleteReportLoading,
      formatDate
    }
  }
})
</script>

<style lang="scss" scoped>
.ci-link {
  color: #dbc900;
}
</style>