<template>
  <v-col id="project-summary-chart">
    <v-row>
      <v-col class="text-center">Total {{context}}: {{total}}</v-col>
    </v-row>
    <v-row>
      <v-col>
        <apexchart width="400" :options="options" :series="series" />
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
import { defineComponent, ref } from '@vue/composition-api'
import { themes } from '../../../plugins/vuetify'

export default defineComponent({
  props: ['context', 'total', 'passed', 'failed'],
  setup(props) {
    const modifyLabel = (text) => {
      return text.charAt(0).toUpperCase() + text.slice(1);
    }

    const series = ref([props.passed, props.failed])
    const options = ref({
      chart: {
        type: 'pie',
        dropShadow: {
          enabled: true,
          enabledOnSeries: [0, 1],
          top: 0,
          left: 0,
          blur: 3,
          color: '#babfbb',
          opacity: 0.8
        },
        fontFamily: 'Montserrat, sans-serif'
      },
      colors: [themes.light.success, themes.light.error],
      labels: [`${modifyLabel(props.context)}: passed`, `${modifyLabel(props.context)}: failed`],
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 200
          },
          legend: {
            position: 'bottom'
          }
        }
      }]
    })
    
    return {
      series,
      options
    }
  }
})
</script>
