<template>
  <div id="project-members">
    <h3>Members</h3>
    <v-row>
      <v-col>
        <p v-if="loading">Loading ...</p>
        <p v-else>
          <span 
            :class="'member' + `${!member.is_active ? ' inactive': ''}` + `${member.is_deleted ? ' deleted': ''}`" 
            v-for="(member, i) in projectMembers" :key="i"
          >{{member.username}}<span class="comma" v-if="i < projectMembers.length - 1">, </span>
          </span>
        </p>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { computed, defineComponent } from '@vue/composition-api'

export default defineComponent({
  props: ['members', 'loading'],
  setup(props) {
    const projectMembers = computed(() => props.members?.items ?? [])
    return {
      projectMembers
    }
  }
})
</script>

<style lang="scss" scoped>
.member {
  font-weight: 600;
}
.inactive {
  color: grey;
}
.deleted {
  text-decoration: line-through;
}
</style>