<template>
  <div id="project-info">
    <v-row v-if="data">
      <v-col>
        <h1>{{data.slug}} - {{data.name}}</h1>
        <h3 class="description" v-if="data.description">{{data.description}}</h3>
        <!-- todo: created on the right? -->
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  props: ['data', 'loading']
})
</script>

<style lang="scss" scoped>
.description {
  font-weight: 400;
}
</style>