<template>
  <v-row id="project-summary">
    <v-col>
      <v-row v-if="summary && !loading">
        <v-col>
          <v-row>
            <v-col>
              <ProjectSummaryChart
                v-if="summary.total_reports > 0"
                :context="'reports'"
                :total="summary.total_reports" 
                :passed="summary.passed_reports"
                :failed="summary.failed_reports"
              />
            </v-col>
            <v-col>
              <ProjectSummaryChart
                v-if="summary.total_features > 0"
                :context="'features'"
                :total="summary.total_features"
                :passed="summary.passed_features"
                :failed="summary.failed_features"
              />
            </v-col>
            <v-col>
              <ProjectSummaryChart
                v-if="summary.total_scenarios > 0"
                :context="'scenarios'"
                :total="summary.total_scenarios"
                :passed="summary.passed_scenarios"
                :failed="summary.failed_scenarios"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <span v-else>loading summary...</span>
    </v-col>
  </v-row>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import ProjectSummaryChart from './ProjectSummaryChart'

export default defineComponent({
  props: ['summary', 'loading'],
  components: {
    ProjectSummaryChart
  }
})
</script>
