<template>
  <v-row id="report-filters">
    <v-col>
      <form id="tag-filter-form" autocomplete="off" @submit.prevent="applyFilters">
        <v-row>
          <v-col>
            <v-btn text color="success" type="submit">apply tag filters</v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-autocomplete
              :disabled="loading"
              label="Filter reports by tags"
              :dense="dense"
              id="tags"
              name="tags"
              color="secondary"
              deletable-chips
              v-model="state.tags"
              :items="tags"
              item-color="secondary"
              outlined
              chips
              small-chips
              multiple
            />
          </v-col>
        </v-row>
      </form>
    </v-col>
  </v-row>
</template>

<script>
import { defineComponent, onMounted, reactive } from '@vue/composition-api'

export default defineComponent({
  props: ['loading', 'tags', 'dense'],
  setup(props, { emit }) {
    const state = reactive({
      tags: [],
    })
    
    const applyFilters = () => {
      window.localStorage.setItem('ORP:report-filters', JSON.stringify(state))
      emit('update-tags', state.tags)
    }
    
    onMounted(() => {
      console.log('filters mounted')
      state.tags = props.tags
      const existingFiltersStr = window.localStorage.getItem('ORP:report-filters')
      if (existingFiltersStr) {
        try {
          const filtersObj = JSON.parse(existingFiltersStr)
          state.tags = filtersObj.tags ?? []
        } catch (error) {
          console.warn('[ReportFilters]Failed to load ORP:report-filters from localstorage', error)
        }
      }
    })
    return {
      state,
      applyFilters
    }
  }
})
</script>
