<template>
  <div id="easter-egg">
    <v-img
      max-height="250"
      max-width="500"
      :src="gifUrl"
    ></v-img>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import { version } from '../../../package.json'
export default defineComponent({
  props: ['show'],
  setup() {
    const gifs = {
      '1.0.4-gucci': 'https://media2.giphy.com/media/h3u4sCxPq0Hfga9uya/giphy.gif'
    }
    const gifUrl = gifs[version]
    return {
      gifUrl,
      version
    }
  }
})
</script>
