<template>
  <v-container>
    <!-- only display errors without context -->
    <v-row v-for="(error, i) in errors.messages.filter(e => e.context == null)" :key="i">
      <v-col>
        <v-alert
          border="left"
          color="red"
          dense
          text
          type="error"
        >{{error.message}}</v-alert>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  props: ['errors']
})
</script>
