<template>
  <v-row justify="center" id="create-project-dialog">
    <v-dialog
      v-model="show"
      persistent
      max-width="700px"
    >
      <form autocomplete="off" id="create-project-dialog-form" @submit.prevent="submit">
      <v-card
        :loading="loading"
        :disabled="loading"
      >
        <template slot="progress">
          <v-progress-linear
            color="secondary"
            height="7"
            indeterminate
          ></v-progress-linear>
        </template>
        <v-card-title>
          <span class="text-h5">Create project</span>
        </v-card-title>
        <v-card-text>
          <FormErrors :errors="formErrors" />
          <v-container>
            <v-row>
              <v-col
                cols="12"
              >
                <v-text-field
                  outlined
                  required
                  minlength="3"
                  maxlength="100"
                  autofocus
                  id="formData.name"
                  name="formData.name"
                  color="secondary"
                  label="Project name*"
                  v-model.trim="formData.name"
                  :error-messages="formData.slug === '' 
                    ? [] 
                    : formErrors.messages.filter(e => e.context == 'body.name').map(e => e.message)"
                />
                <v-checkbox
                  v-model="formData.is_private"
                  label="This is it a private project"
                />
              </v-col>
              <v-col
                cols="12"
              >
                <v-text-field
                  outlined
                  required
                  minlength="3"
                  maxlength="10"
                  id="formData.slug"
                  name="formData.slug"
                  color="secondary"
                  label="Project slug*"
                  v-model.trim="formData.slug"
                  hint="Only letters and low dashes. Cannot start or end with low dash. No white space allowed."
                  :error-messages="formData.slug === '' 
                    ? [] 
                    : formErrors.messages.filter(e => e.context == 'body.slug').map(e => e.message)"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
              >
                <v-textarea
                  outlined
                  maxlength="500"
                  id="formData.description"
                  name="formData.description"
                  color="secondary"
                  label="Description"
                  v-model.trim="formData.description"
                  :error-messages="formData.description === '' 
                    ? [] 
                    : formErrors.messages.filter(e => e.context == 'body.description').map(e => e.message)"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="grey darken-1"
            text
            @click="close"
          >
            Cancel
          </v-btn>
          <v-btn
            color="success"
            text
            type="submit"
          >
            Create
          </v-btn>
        </v-card-actions>
      </v-card>
      </form>
    </v-dialog>
  </v-row>
</template>
<script>
import { defineComponent, reactive, ref } from '@vue/composition-api'
import api from '../../api'
import snackbar from '../../snackbar'
import formErrorHandler from '../../errorhandlers/forms'
import FormErrors from '../common/FormErrors'
import state from '../../store'

export default defineComponent({
  props: ['show'],
  components: {
    FormErrors
  },
  setup(props, { emit }) {
    const { showSnack } = snackbar
    const { setToken } = state
    const loading = ref(false)
    const formData = reactive({
      is_private: false,
      name: '',
      description: null,
      slug: ''
    })
    const formErrors = reactive({
      messages: []
    })

    const close = () => { clear(), emit('close') }
    const refreshProjects = () => emit('refresh-projects')
    
    const clear = () => {
      formData.name = ''
      formData.slug = ''
      formData.description = ''
      formErrors.messages = []
    }
    const submit = () => {
      console.log('submit CreateProjectDialogForm', formData)
      loading.value = true
      formErrors.messages = []
      let slug, projectName
      api.projects
        .createProject(formData)
        .then(response => {
          console.log('CreateProjectDialogForm -> response', response)
          slug = response.data.slug
          projectName = response.data.name
          setTimeout(() => {
            console.log('refresh token after project creation')
            api.auth.refreshToken().then(response => {
              setToken(response.data.access_token)
              window.localStorage.setItem('ORP:token', response.data.access_token)
              console.log('api.auth.refreshToken() OK')
              loading.value = false
              showSnack({
                color: 'green',
                text: `Created project: ${slug} - ${projectName}`
              })
              refreshProjects()
              clear()
              close() 
            }).catch(error => formErrorHandler(error, formErrors))
          }, 500)
        })
        .catch(error => {
          formErrorHandler(error, formErrors).then(() => loading.value = false)
        })
    }
    const fieldError = (fieldName) => {
      console.log(fieldName)
      return true
    }
    
    return {
      formData,
      formErrors,
      fieldError,
      close,
      submit,
      loading
    }
  }
})
</script>
