<template>
  <div id="project-list">
    <v-row>
      <v-col>
        <v-pagination
          v-if="paginationObject && paginationObject.number_of_pages > 1"
          v-model="currentPage"
          :length="paginationObject.number_of_pages"
          :total-visible="10"
          :disabled="loading"
          @input="setCurrentPage"
        ></v-pagination>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-data-table
          dense
          :loading="loading"
          :headers="table.headers"
          :items="projectItems"
          hide-default-footer
          class="elevation-1"
        >
        <template v-slot:item.name="{ item }">
          <router-link :style="`color: ${themes.light.secondary}; font-weight: 600;`" :to="{name: 'Project', params: {slug: item.slug.toLowerCase()}}">{{item.name}}</router-link>
        </template>
        <template v-slot:item.created_date="{ item }">
          {{formatDate(item.created_date)}}
        </template>
        <template v-slot:item.is_private="{ item }">
          <v-icon v-if="item.is_private">mdi-account-lock</v-icon>
        </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { computed, defineComponent, onMounted, reactive, ref } from '@vue/composition-api'
import { themes } from '../../plugins/vuetify'
import formatDate from '../../lib/formatDate'

export default defineComponent({
  props: ['projects', 'loading'],
  setup(props, { emit }) {
    const currentPage = ref(1)
    const table = reactive({
      headers: [
        {
          text: 'Project name',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        {
          text: 'Slug',
          align: 'start',
          sortable: false,
          value: 'slug',
        },
        {
          text: 'Description',
          align: 'start',
          sortable: false,
          value: 'description',
        },
        {
          text: 'Visibility',
          align: 'start',
          sortable: false,
          value: 'is_private',
        },
        {
          text: 'Created date',
          align: 'start',
          sortable: false,
          value: 'created_date',
        },
        // {
        //   text: 'Action',
        //   align: 'start',
        //   sortable: false,
        //   value: 'action',
        // }
      ]
    })
    onMounted(() => {
      currentPage.value = paginationObject?.current_page ?? 1
    })
    const fetchProjects = () => {
      emit('fetch', { page: currentPage.value, limit: 10 })
    }
    const setCurrentPage = (page) => {
      console.log('change page', page)
        currentPage.value = page
        fetchProjects()
    }
    const projectItems = computed(() => props.projects?.items ?? [])
    const paginationObject = computed(() => props.projects ?? null)
    return {
      setCurrentPage,
      currentPage,
      table,
      projectItems,
      paginationObject,
      themes,
      formatDate
    }
  }
})
</script>
