<template>
  <v-row>
    <v-col>
      <form id="login-form" autocomplete="off" @submit.prevent="submit">
        <v-card
          flat
          style="margin-top: 20px;"
          class="mx-auto"
          :loading="loading"
          :disabled="loading"
          elevation="5"
        >
          <template slot="progress">
            <v-progress-linear
              color="secondary"
              height="7"
              indeterminate
            ></v-progress-linear>
          </template>
          <v-container>
            <v-row dense>
              <v-col align="center" cols="12">
                <v-card-title class="justify-center display-1 yellow--text text--accent-4 bold">Omni Report Portal</v-card-title>
                <v-img class="transparent" src="@/assets/temp_logo.jpg" aspect-ratio="2" max-width="500"></v-img>
                <v-card-text>
                    <FormErrors :errors="formErrors" v-if="formErrors.messages.length > 0" />
                    <v-text-field
                      id="formData.username"
                      name="formData.username"
                      label="Username"
                      type="text"
                      class="yellow--text text--accent-4"
                      maxlength="20"
                      required
                      autofocus
                      prepend-icon="mdi-account-circle"
                      v-model.trim="formData.username"
                      :error-messages="formData.username === '' 
                        ? [] 
                        : formErrors.messages.filter(e => e.context == 'username').map(e => e.message)"
                    />
                    <v-text-field
                      id="formData.password"
                      name="formData.password"
                      label="Password"
                      :type="show ? 'text' : 'password'"
                      class="yellow--text text--accent-4"
                      maxlength="30"
                      required
                      prepend-icon="mdi-key-variant"
                      :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                      @click:append="show = !show"
                      v-model.trim="formData.password"
                      :error-messages="formData.password === '' 
                        ? [] 
                        : formErrors.messages.filter(e => e.context == 'password').map(e => e.message)"
                    />
                </v-card-text>
                  <v-btn class="yellow accent-4 white--text bold" block large plain type="submit">Sign in</v-btn>
                <v-card-actions class="text--secondary">
                  <v-spacer></v-spacer>
                  Don't have account? <router-link class="pl-2 yellow--text text--accent-4" to="/register">Sign up</router-link>
                </v-card-actions>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </form>
    </v-col>
  </v-row>
</template>

<script>
import { reactive, ref } from "@vue/composition-api"
import api from '../../api'
import router from '../../router'
import store from '../../store'
import snackbar from '../../snackbar'
import formErrorHandler from '../../errorhandlers/forms'
import FormErrors from '../common/FormErrors'

export default {
  components: {
    FormErrors
  },
  setup() {
    const { setToken, setUser } = store
    const formData = reactive({
      username: '',
      password: ''
    })
    const formErrors = reactive({
      messages: []
    })
    const loading = ref(false)
    const show = ref(false)
    const { showSnack } = snackbar

    const goToDashboard = () => {
      router.push({name: 'Projects'})
    }

    const stopLoading = () => {
      return new Promise((resolve) => {
        setTimeout(() => { loading.value = false, resolve() }, 500)
      })
    }

    const submit = () => {
      loading.value = true
      formErrors.messages = []
      console.log("submit LoginForm!", formData)
      api.auth
        .getToken(formData)
        .then(response => {
          console.log('LoginForm -> response', response)
          console.log('LoginForm -> response -> token', response.data.access_token)
          window.localStorage.setItem('ORP:token', response.data.access_token)
          setToken(response.data.access_token)
          api.auth.getUser()
            .then(response => {
              setUser(response.data)
              stopLoading().then(() => { 
                  showSnack({
                    color: 'green',
                    text: `Greetingz ${response.data.username} :)`
                  }),
                  goToDashboard()
                })
            })
            .catch(error => formErrorHandler(error, []))
        })
        .catch(error => formErrorHandler(error, formErrors).then(() => loading.value = false))
    }

    return {
      submit,
      formErrors,
      formData,
      loading,
      show
    }
  }
}
</script>

<style lang="scss" scoped>
  .bold {
    font-weight: 600;
  }

  .transparent {
    border-radius: 1%;
    opacity: 0.85;
  }
</style>
