<template>
  <v-row>
    <v-col>
      <form id="registration-form" autocomplete="off" @submit.prevent="submit">
        <v-card
          flat
          style="margin-top: 20px;"
          class="mx-auto"
          :loading="loading"
          :disabled="loading"
          elevation="5"
        >
          <template slot="progress">
            <v-progress-linear
              color="secondary"
              height="7"
              indeterminate
            ></v-progress-linear>
          </template>
          <v-container>
            <v-row dense>
              <v-col align="center" cols="12">
                <v-card-title class="justify-center display-1 yellow--text text--accent-4 bold">Omni Report Portal</v-card-title>
                <v-card-subtitle class="text-center yellow--text text--accent-4 bold">Register</v-card-subtitle>
                <v-img class="transparent" src="@/assets/temp_reg.jpg" aspect-ratio="2" max-width="500"></v-img>
                <v-card-text>
                  <FormErrors :errors="formErrors" v-if="formErrors.messages.length > 0" />
                  <div align="left" class="text--secondary">* - required fields</div>
                  <v-text-field
                    id="formData.username"
                    name="formData.username"
                    label="Username *"
                    type="text"
                    class="yellow--text text--accent-4"
                    maxlength="20"
                    hint="Only letters and low dashes allowed. Min 3 characters, max 20 characters. No whitespaces."
                    required
                    autofocus
                    persistent-hint
                    prepend-icon="mdi-account-circle"
                    v-model.trim="formData.username"
                    :error-messages="formData.username === '' 
                      ? [] 
                      : formErrors.messages.filter(e => e.context == 'body.username').map(e => e.message)"
                  />
                  <v-text-field
                    id="formData.email"
                    name="formData.email"
                    label="Email *"
                    type="email"
                    class="yellow--text text--accent-4"
                    maxlength="30"
                    required
                    prepend-icon="mdi-email"
                    v-model.trim="formData.email"
                    :error-messages="formData.email === '' 
                      ? [] 
                      : formErrors.messages.filter(e => e.context == 'body.email').map(e => e.message)"
                  />
                  <v-text-field
                    id="formData.password"
                    name="formData.password"
                    label="Password *"
                    :type="show ? 'text' : 'password'"
                    class="yellow--text text--accent-4"
                    maxlength="30"
                    hint="Min 8 characters, max 30 characters. No whitespaces"
                    required
                    persistent-hint
                    prepend-icon="mdi-lock"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show = !show"
                    v-model.trim="formData.password"
                    :error-messages="formData.password === '' 
                      ? [] 
                      : formErrors.messages.filter(e => e.context == 'body.password').map(e => e.message)"
                  />
                </v-card-text>
                <v-btn class="yellow accent-4 white--text bold" block large plain type="submit">Register</v-btn>
                <v-card-actions class="text--secondary">
                  <v-spacer></v-spacer>
                  Alredy have account? <router-link class="pl-2 yellow--text text--accent-4" to="/login">Sign in</router-link>
                </v-card-actions>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </form>
    </v-col>
  </v-row>
</template>

<script>
import { reactive, ref } from "@vue/composition-api"
import api from '../../api'
import router from '../../router'
import snackbar from '../../snackbar'
import formErrorHandler from '../../errorhandlers/forms'
import FormErrors from '../common/FormErrors.vue'

export default {
  components: {
    FormErrors
  },
  setup() {
    const formData = reactive({
      username: '',
      password: '',
      email: ''
    })
    const formErrors = reactive({
      messages: []
    })
    const loading = ref(false)
    const show = ref(false)
    const { showSnack } = snackbar

    const stopLoading = () => {
      return new Promise((resolve) => {
        setTimeout(() => { loading.value = false, resolve() }, 500)
      })
    }

    const submit = () => {
      loading.value = true
      formErrors.messages = []
      console.log("submit RegistrationForm!", formData)
      api.auth
        .register(formData)
        .then(response => {
          console.log(response)
          stopLoading().then(() => {
            router.push({name: 'Login'}).then(() => {
              showSnack({
                color: 'success',
                text: `Registration success for user: ${response.data.username}`
              })
            })
          })
        })
        .catch(error => formErrorHandler(error, formErrors).then(() => loading.value = false))}

    return {
      submit,
      formErrors,
      formData,
      loading,
      show
    }
  }
}
</script>

<style lang="scss" scoped>
  .bold {
    font-weight: 600;
  }

  .transparent {
    border-radius: 1%;
    opacity: 0.85;
  }
</style>
