<template>
  <v-app>
    <v-app-bar
      app
      flat
      color="primary"
    >
      <v-app-bar-nav-icon @click.stop="drawerOpen = !drawerOpen"></v-app-bar-nav-icon>
      <v-app-bar-title>
        Omni Report Portal
      </v-app-bar-title>
      <v-spacer />
      <v-tooltip left v-if="user">
        <template v-slot:activator="{ on, attrs }">
          <v-btn 
            v-bind="attrs"
            v-on="on"
            icon>
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </template>
        <span>@{{user.username}}</span>
      </v-tooltip>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawerOpen"
      app
      fixed
      bottom
      temporary
    >
    <v-list
        dense
        nav
      >
        <v-list-item-group
          v-model="selectedNavIndex"
          color="secondary"
        >
          <v-list-item
            v-for="(item, i) in menuItems"
            :key="i"
            :to="{name: item.text}"
            :disabled="!userIsLoggedIn"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-spacer />
          <v-list-item class="text-right" @click="eeCounter+=1">
            <v-list-item-content>
              <v-list-item-title>
                <div class="version">version {{version}}</div>
              </v-list-item-title>
              <v-dialog
                v-model="showEEDialog"
                persistent
                max-width="520"
              >
                <v-card>
                  <v-card-title>{{version}}</v-card-title>
                  <v-card-text>
                    <EasterEgg />
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="green darken-1"
                      text
                      @click="showEEDialog = false"
                    >
                      Hide
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <v-list
        dense
        nav
        v-if="!userIsLoggedIn"
      >
        <v-list-item-group
          v-model="selectedNavIndex"
          color="secondary"
        >
          <v-list-item
            to="Login"
          >
            <v-list-item-icon>
              <v-icon>mdi-login</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Login</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
  </v-navigation-drawer>

    <v-main>
      <v-container :fluid=fluid>
        <v-row v-if="viewLoading">
          <v-col class="text-center">
            <v-progress-circular
              :size="300"
              :width="10"
              color="yellow"
              indeterminate
            />
          </v-col>
        </v-row>
        <router-view v-else @set-fluid="setFluid" />
      </v-container>
    </v-main>
    <v-snackbar
      v-model="snackbar.show"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      outlined
      top
      right
    >
      {{ snackbar.text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="black"
          text
          v-bind="attrs"
          @click="snackbar.show = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script>
import { computed, onBeforeMount, onMounted, ref, watch } from '@vue/composition-api'
import store from './store'
import router from './router'
import api from './api'
import snackbar from './snackbar'
import errorHandler from './errorhandlers/forms'
import { version } from '../package.json'
import EasterEgg from './components/common/EasterEgg'

export default {
  name: 'App',
  components: {
    EasterEgg
  },
  setup() {
    const env = ref(process.env.VUE_APP_ENV)
    const { user, token, setToken, setUser, viewLoading, stopViewLoading } = store
    const { showSnack } = snackbar
    const userIsLoggedIn = computed(() => user.value !== null && user.value !== undefined)
    const drawerOpen = ref(false)
    const fluid = ref(false)
    const eeCounter = ref(0)
    const showEEDialog = ref(false)
    watch( eeCounter, (newVal) => {
      if (newVal === 10) {
        showEEDialog.value = true
        eeCounter.value = 0
      }
    })
    const navItems = ref([
      {
        icon: 'mdi-home',
        text: 'Projects'
      },
      {
        icon: 'mdi-function',
        text: 'Sandbox',
        dev: true
      },
      {
        icon: 'mdi-help',
        text: 'About'
      },
      {
        icon: 'mdi-logout',
        text: 'Logout'
      }
    ])

    const menuItems = computed(() => {
      console.log('MENU ITEMS! node env ', env.value)
      return env.value !== 'production'
        ? navItems.value
        : navItems.value.filter(i => !i.dev)
    })

    const setFluid = (isFluid) => fluid.value = isFluid
    const selectedNavIndex = ref(null)
    const {snack } = snackbar

    const getTokenFromLocalstorage = () => {
      const token = window.localStorage.getItem('ORP:token')
      console.log('ORP:token', token)
      return token
    }

    const getUserData = () => {
      console.log('get LocalStorage token')
      const localToken = getTokenFromLocalstorage()
      if (!localToken) {
        console.log('no LocalStorage, ...')
        // goToLogin()
      } else {
        console.log('set token:', token)
        setToken(localToken)
        console.log('get user data')
        api.auth
          .getUser()
          .then(response => {
            setUser(response.data)
            stopViewLoading()
          })
          .catch(error => errorHandler(error, []).then(() => goToLogin()))
      }
    }

    const goToLogin = () => {
      router
        .push({name: 'Login'})
        .then(() => stopViewLoading())
        .catch(e => {
          if (e.name === 'NavigationDuplicated') {
            console.log('duplicated nav, do not redirect to Login')
            stopViewLoading()
          } else {
            stopViewLoading()
            // todo: show err msg?
            throw e
          }
        })
    }

    const refreshToken = () => {
      console.log('refreshing token')
      console.log('refresh token')
      api.auth.refreshToken().then(response => {
        setToken(response.data.access_token)
        console.log('(main) api.auth.refreshToken() OK')
      }).catch(error => {
        console.log('(main) FAILED to refresh token', error)
        showSnack({
          color: 'error',
          text: 'Failed to refresh authentication token, redirecting to login in 15sek.',
          timeout: 15_000
        })
        setTimeout(() => {
          goToLogin()
        }, 15_000 )
      })
    }


    onMounted(() => {
      console.log('ORP mounted :)')
      console.log('set token interval')
      setInterval(() => {
        refreshToken()
      }, (4 * 60_000)) // refresh every 4 minutes (token is given for 5 minutes)
    })

    onBeforeMount(() => {
      getUserData()
    })

    return {
      snackbar: snack,
      viewLoading,
      eeCounter,
      showEEDialog,
      user,
      token, // todo: expose token only dev
      userIsLoggedIn,
      drawerOpen,
      version,
      menuItems,
      selectedNavIndex,
      fluid,
      setFluid
    }
  }
}
// todos:
// * drawer needs work (read the docs)
// * add logo to navbar ?
</script>
<style lang="scss">
@import url(
  'https://fonts.googleapis.com/css2' +
  '?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;' +
  '0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$body-font-family: 'Montserrat';
$title-font: 'Montserrat';
.v-application {
   font-family: $body-font-family, sans-serif !important;
    .title { // To pin point specific classes of some components
       font-family: $title-font, sans-serif !important;
    }
 }
</style>
