<template>
  <form id="filter-statuses" @submit.prevent="update">
    <v-row>
      <v-col>
        <v-select
          deletable-chips
          :dense="dense"
          id="status"
          name="status"
          :items="state.statuses"
          item-color="secondary"
          v-model="state.selectedStatuses"
          label="Filter by status"
          color="secondary"
          chips
          small-chips
          multiple
          outlined
        ></v-select>
      </v-col>
      <v-col lg="4">
        <v-btn text color="success" type="submit">filter statuses</v-btn>
      </v-col>
    </v-row>
  </form>
</template>

<script>
import { defineComponent, onMounted, reactive } from '@vue/composition-api'

export default defineComponent({
  props: ['statuses', 'dense'],
  setup(props, { emit }) {
    const state = reactive({
      statuses: [],
      selectedStatuses: []
    })

    const update = () => emit('update', state.selectedStatuses)

    onMounted(() => {
      state.statuses = props.statuses ?? []
    })

    return {
      state,
      update
    }
  }
})
</script>
<style lang="scss" scoped>
