<template>
  <form id="filter-tags" @submit.prevent="update">
    <v-row>
      <v-col>
        <v-autocomplete
            label="Add tags to filter"
            :dense="dense"
            id="tags"
            name="tags"
            color="secondary"
            deletable-chips
            v-model="state.selectedTags"
            :items="state.tags"
            item-color="secondary"
            outlined
            chips
            small-chips
            multiple
          />
      </v-col>
      <v-col lg="4">
        <v-btn text color="success" type="submit">filter tags</v-btn>
      </v-col>
    </v-row>
  </form>
</template>
<script>
import { defineComponent, onMounted, reactive } from '@vue/composition-api'

// <FilterTags dense :tags="['@foo', '@bar']" @update="updateTags" />
export default defineComponent({
  props: ['dense', 'tags'],
  setup(props, { emit }) {
    const state = reactive({
      tags: [],
      selectedTags: []
    })
    
    const update = () => emit('update', state.selectedTags)

    onMounted(() => {
      state.tags = props.tags ?? []
      state.tags = state.tags.sort((a, b) => a.localeCompare(b))
    })

    return {
      state,
      update
    }
  }
})
</script>
