<template>
  <v-row id="about">
    <v-col>
      <v-row>
        <h1>About</h1>
      </v-row>
      <v-row>
        <v-col class="text-justify">
          <p>One System to rule them all</p>
          <p>One System to find them</p>
          <p>One System to bring them all</p>
          <p>And in the darkness bind them</p>
          <p>In the Land of InPost where the shadows lie.</p>
          <!-- alternative
          <p>They've got a power and a force, that you've never seen before</p>
          <p>No one could ever take them down, the power lies on their side</p>
          <p>They know the fate of the world is lying in their hands, They know to only use their weapons for defense</p>
          <p>No one will ever take them down, the power lies on their side</p>
          <p>GO! GO! ILS Rangers!</p>
          -->
        </v-col>
        <v-col>
          <v-img :src="require('@/assets/handshake.png')"></v-img>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { defineComponent, onBeforeMount } from '@vue/composition-api'

export default defineComponent({
  setup(props, {emit}) {
    onBeforeMount(() => {
      emit('set-fluid', false)
    })
  }
})
</script>
