<template>
  <div id="forbidden">
    <h1>You're not allowed here. Sorry.</h1>
    <h2>Please contact project administrator</h2>
    <v-btn text color="secondary" @click="goToProjects">Go to projects</v-btn>
  </div>
</template>

<script>
import { defineComponent, onBeforeMount } from '@vue/composition-api'
import router from '../router'

export default defineComponent({
  setup(props, { emit }) {
    const goToProjects = () => {
      router.push({name: 'Projects'})
    }
    onBeforeMount(() => {
      emit('set-fluid', false)
    })
    return {
      goToProjects
    }
  }
})
</script>
