<template>
  <v-row>
    <v-col>
      <div class="logout">
        <h1>Bye {{loggedOutUsername}}!</h1>
        <v-btn text large color="secondary" @click="goToLogin">Login again</v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { ref, defineComponent, onMounted, onBeforeMount } from '@vue/composition-api'
import store from '../store'
import router from '../router'
import snackbar from '../snackbar'

export default defineComponent({
  setup(props, { emit }) {
    const { user, setToken, setUser } = store
    const { showSnack } = snackbar
    const loggedOutUsername = ref('')
    const goToLogin = () => {
      router.push({name: 'Login'})
    }

    onBeforeMount(() => {
      emit('set-fluid', false)
    })
    onMounted(() => {
      console.log('user', user.value)
      loggedOutUsername.value = user.value.username
      setToken(null)
      setUser(null)
      window.localStorage.removeItem('ORP:token')
      showSnack({
        color: 'secondary',
        text: 'You have been logged out'
      })
    })
    return {
      loggedOutUsername,
      goToLogin
    }
  }
})
</script>
