<template>
  <div id="not-found">
    <h1>Not found.</h1>
  </div>
</template>

<script>
import { defineComponent, onBeforeMount } from '@vue/composition-api'

export default defineComponent({
  setup(props, { emit }) {
    onBeforeMount(() => {
      emit('set-fluid', false)
    })
  }
})
</script>
