<template>
  <div id="project">
    <v-row>
      <v-col>
        <ProjectInfo :data="project.data" :loading="loadings.data" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <ProjectMembers :members="project.members" :loading="loadings.members" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <ProjectSummary :summary="project.summary" :loading="loadings.summary" />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="4">
        <ReportFilters :tags="tags" :loading="loadings.reports" @update-tags="setTagFilters($event);getReports()" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <ProjectReports 
          :slug="slug"
          :activeFilters="state.filters"
          :reports="project.reports" 
          :loading="loadings.reports" 
          @update-pagination="setPagination($event);getReports()" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { computed, defineComponent, onBeforeMount, onMounted, reactive } from '@vue/composition-api'
import api from '../api'
import errorHandler from '../errorhandlers/forms'
import ProjectInfo from '../components/projects/details/ProjectInfo'
import ProjectMembers from '../components/projects/details/ProjectMembers'
import ProjectReports from '../components/projects/details/ProjectReports'
import ReportFilters from '../components/projects/details/ReportFilters'
import ProjectSummary from '../components/projects/details/ProjectSummary'

export default defineComponent({
  props: ['slug'],
  components: {
    ProjectInfo,
    ProjectMembers,
    ProjectReports,
    ReportFilters,
    ProjectSummary
  },
  setup(props, { emit }) {
    const project = reactive({
      data: null,
      members: null,
      reports: null,
      summary: null
    })
    const loadings = reactive({
      data: false,
      members: false,
      reports: false,
      summary: false
    })
    const state = reactive({
      pagination: {},
      filters: {
        tags: []
      }
    })
    const tags = computed(() => {
      const reports = project.reports ?? []
      const tags = []
      reports.items?.forEach(report => {
        console.log(report.meta.tags)
        report.meta.tags.forEach(tag => {
          if (tags.indexOf(tag) === -1) tags.push(tag)
        })
      })
      console.log('tags', tags)
      return tags
      }
    )

    // todo: fetch statistics (last 2weeks/ month) ??? <- create issue (feature be + fe)

    const setPagination = (pagination) => state.pagination = pagination
    const setTagFilters = (tags) => state.filters.tags = tags

    const stopLoading = (item, setStateFunc = null) => { 
      return new Promise((resolve) => {
        setTimeout(() => {
          if (setStateFunc) setStateFunc()
          loadings[item] = false
          resolve()
        }, 300)
      })
    }

    const getReports = () => {
      console.debug('[Project] getReports', state.pagination, state.filters)
      loadings['reports'] = true
      const paginate = {
        page: state.pagination.page ?? 1,
        limit: state.pagination.limit ?? 20,
        orderBy: state.pagination.orderBy ?? '-created_date'
      }
      api.projects.getProjectReports(props.slug, paginate, state.filters)
        .then(response => { stopLoading('reports', () => project.reports = response.data) })
        .catch(error => { errorHandler(error, []), stopLoading('reports') })
    }

    onBeforeMount(() => {
      emit('set-fluid', true)
    })

    onMounted(() => {
      console.log('Project mounted')
      // todo: DRY with ReportFilters onMounted
      const existingFiltersStr = window.localStorage.getItem('ORP:report-filters')
      if (existingFiltersStr) {
        try {
          const filtersObj = JSON.parse(existingFiltersStr)
          console.log('got localstorage filters', filtersObj)
          setTagFilters(filtersObj.tags)
        } catch (error) {
          console.warn('Failed to load ORP:report-filters from localstorage', error)
        }
      }
      console.log('Fetch data')
      for(let e of ['data', 'members', 'reports', 'summary']) { loadings[e] = true }
      api.projects.getProject(props.slug)
        .then(response => { stopLoading('data', () => project.data = response.data) })
        .catch(error => { errorHandler(error, []), stopLoading('data') })
      api.projects.getProjectMembers(props.slug)
        .then(response => { stopLoading('members', () => project.members = response.data) })
        .catch(error => { errorHandler(error, []), stopLoading('members') })
      api.projects.getProjectSummary(props.slug)
        .then(response => { stopLoading('summary', () => project.summary = response.data) })
        .catch(error => { errorHandler(error, []), stopLoading('summary') })

      getReports()
    })
    return {
      state,
      loadings,
      project,
      tags,
      setPagination,
      setTagFilters,
      getReports
    }
  },
})
</script>
