<template>
  <v-row>
    <v-col>
      <v-row>
        <v-col>
          <v-checkbox
            color="secondary"
            v-model="onlyMyProjects"
            label="Only My projects"
            @change="fetchProjects()"
          ></v-checkbox>
        </v-col>
        <v-col class="text-right">
          <v-btn text color="success" @click="showCreateProjectDialogForm = true">Create project</v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <ProjectList :projects="projectList" :loading="loading" @fetch="fetchProjects" />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <CreateProjectDialogForm 
            :show="showCreateProjectDialogForm" 
            @close="showCreateProjectDialogForm = false" 
            @refresh-projects="fetchProjects" />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>

import { ref, defineComponent, onMounted, onBeforeMount, computed } from '@vue/composition-api'
import ProjectList from '../components/projects/ProjectList'
import CreateProjectDialogForm from '../components/projects/CreateProjectDialogForm'
import store from '../store'
import api from '../api'
import errorHandler from '../errorhandlers/forms'
export default defineComponent({
  components: {
    ProjectList,
    CreateProjectDialogForm
  },
  setup(props, { emit }) {
    const { projects, setProjects } = store
    const loading = ref(true)
    const stopLoading = () => {
      return new Promise((resolve) => {
        setTimeout(() => {
          loading.value = false
          resolve()
        }, 500)
      })
    }
    const onlyMyProjects = ref(false)
    const showCreateProjectDialogForm = ref(false)
    const projectList = computed(() => projects.value ?? {items: []})
    const fetchProjects = (data = null) => {
      console.log('fetchProjects data', data)
      loading.value = true
      setProjects(null)
      const fetchData = {
        page: data?.page ?? 1,
        limit: data?.limit ?? 10,
        orderBy: data?.orderBy ?? '-created_date',
      }
      fetchData.onlyMyProjects = onlyMyProjects.value
      api.projects
        .getProjects(fetchData)
        .then(response => {
          console.log(response)
          stopLoading().then(() => setProjects(response.data))
        })
        .catch(error => { errorHandler(error, []), loading.value = false })
    }
    onBeforeMount(() => {
      emit('set-fluid', false)
    })
    onMounted(() => {
      fetchProjects()
    })

    return {
      projectList,
      loading,
      showCreateProjectDialogForm,
      fetchProjects,
      onlyMyProjects
    }
  }
})
</script>
