<template>
  <v-row>
    <v-col  xl="4" offset-xl="4" lg="6" offset-lg="3" md="8" offset-md="2" sm="10" offset-sm="1">
      <RegistrationForm />
    </v-col>
  </v-row>
</template>
<script>
import { defineComponent, onBeforeMount } from '@vue/composition-api'
import RegistrationForm from '../components/auth/RegistrationForm'

export default defineComponent({
  components: {
    RegistrationForm
  },
  setup(props, { emit }) {
    onBeforeMount(() => {
      emit('set-fluid', false)
    })
  }
})
</script>

<style lang="scss" scoped>
.login {
  margin-top: 30px;
}
</style>