<template>
  <div id="report">
    <CucumberJsonReport v-if="state.report" :report="state.report" />
  </div>
</template>

<script>
import { defineComponent, onBeforeMount, onMounted, reactive } from '@vue/composition-api'
import CucumberJsonReport from '../components/reports/details/cucumberJson/CucumberJsonReport'
import api from '../api'
import errorHandler from '../errorhandlers/forms'

export default defineComponent({
  props: ['slug', 'id'],
  components: {
    CucumberJsonReport
  },
  setup(props, { emit }) {
    const state = reactive({
      report: null,
      loading: true
    })

    onBeforeMount(() => {
      emit('set-fluid', true)
    })

    onMounted(() => {
      state.loading = true
      api.projects.getProjectReport(props.slug, props.id)
        .then(response => {
          state.report = response.data
          console.log('fetched report', state.report)
          state.loading = false
        })
        .catch(error => {
          errorHandler(error).then(() => state.loading = false)
        })
    })

    return {
      state
    }
  }
})
</script>
