<template>
  <v-row>
    <v-col>
      <div class="sandbox">
        <h1>Have fun :)</h1>
        <!-- <FeatureFilters :statuses="['Passed', 'Failed', 'Skipped']"/> -->
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { defineComponent, onMounted } from '@vue/composition-api'
// import LoginForm from '../components/login/LoginForm'
// import RegistrationForm from '../components/auth/RegistrationForm'
// import CucumberJsonReport from '../components/reports/details/cucumberJson/CucumberJsonReport'
// import store from '../store'
// import EasterEgg from '../components/common/EasterEgg'
// import FeatureFilters from '../components/reports/details/cucumberJson/FeatureFilters'

export default defineComponent({
  components: {
    // FeatureFilters
  },
  setup() {
    // const report = ref(null)
    // const { token } = store
    onMounted(() => {
        // fetch(
        //   'http://localhost:8001/projects/TEST_EX/reports/6e9d865f-fe76-4602-92e6-16f9a8b13bb8',
        //   {
        //     headers: {
        //       'Authorization': 'Bearer ' + token.value
        //     }
        //   }
        // ).then(res => res.json().then(data => report.value = data))
    })
    return {
      // report
    }
  },
})
</script>
